<p id="notice"><%= notice %></p>

<h1>Slots</h1>
<% if current_user_owns_slot? @slots.first %>
  <%= link_to 'New Slot', new_newsletter_slot_path(@newsletter, @slot), class: '-bold-text' %>
<% end %>

<h2>Newsletter: <%= @newsletter.name %></h2>

<%= render 'slots_list', :locals => { :future_slots => @future_slots, :past_slots => @past_slots } %>


