
<% if user_signed_in? %>
  <%= render 'users/user_profile_card' %>

  <% if current_user.newsletters.empty? %>
    <%= link_to new_newsletter_path, class: "relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
      <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
        <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
      </svg>
      <span class="mt-2 block text-sm font-medium text-gray-900">
        Add your newsletter to get started.
      </span>
    <% end %>
  <% else %>
    <% current_user.newsletters.each do |newsletter| %>
      <%= render 'newsletters/newsletter_information', newsletter: newsletter %>
    <% end %>
  <% end %>

<% end %>