// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "utils/utilities";

form {
  width: max-content;
}

.booking-form {
  border: 1px solid black;
  display: flex;
  flex-direction: row;

  &__booker {
      background-color: $grey-lightest;
  }

  &__advert {
    background-color: $grey-lighter;
  }

  .-padded {
    margin: 1rem;
    padding: 1rem;
  }

  .-subheading {
    color: $grey-darker;
  }

}