// Styles
@import 'utils/utilities';

// Display card for displaying newsletter / slot information.
.display-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  background-color: $grey-lightest;

  &__data {
    background-color: $grey-lighter;
  }

  &__links {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;

    // give each child link some padding
    > * {
      padding-right: .5rem;
    }
  }

  &__image {
    max-width: 10rem;
    margin: 1rem;
    > img {
      max-width: 100%;
      height: auto;
    }
  }
}

.short-card {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
  margin: 0.25rem;
  border: 1px solid $grey-darker;
  border-radius: 0.75rem;
  background-color: $grey-lightest;

  * {
    margin: 0;
    padding: 0;
  }

  .-faded {
    color: $grey-dark;
    font-weight: lighter;
    * {
      color: inherit;
    }
  }

  &__data {
    width: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: $grey-lighter;
  }

  &__links {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    // give each child link some padding
    > * {
      padding-right: .5rem;
    }
  }
}

